<div class="container">
    <div class="f-return mt-5">
        <span class="material-icons" routerLink="/boas-vindas">
            arrow_downward
        </span>
    </div>
    <div class="row">
        <div class="col-12 text-center f-login">
            <h3>Cadastrar</h3>

            <input class="form-control form-control-sm f-email" type="text" placeholder="Nome" [(ngModel)]="nome" required>
            
            <input [disabled]="!(nome.trim().length >= 4)" class="form-control form-control-sm f-email" type="text" placeholder="E-mail" [(ngModel)]="email" required>
            
            <input [disabled]="!(nome.trim().length >= 4) || !(email.trim().length >= 6)" 
                class="form-control form-control-sm f-senha" type="password" 
                placeholder="Senha" [(ngModel)]="senha" required>

            <input [disabled]="!nome || !email || !(senha.trim().length >= 6)"
                class="form-control form-control-sm f-senha" type="password" 
                placeholder="Repetir senha" [(ngModel)]="reSenha" required>

            <button type="button" class="btn btn-block btn-primary b-entrar" (click)="createMembro()">
                Cadastrar
            </button>
            <button type="button" class="btn btn-block b-google">
                Cadastrar com o Google
            </button>

            <a routerLink="/login">Já tenho conta</a>
        </div>
    </div>
    
</div>