<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h3>Bem vindo!</h3>

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../../../assets/img/busines-woman-checklist.jpg" alt="Tudu - Aplicativo de tarefas">
                    <p>Organize seu dia com o Tudu.</p>
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/todo-list.jpg" alt="Tudu - Aplicativo de tarefas">
                    <p>Tenha um melhor desempenho em suas tarefas.</p>
                  </div>
                  <div class="carousel-item">
                    <img src="../../../assets/img/todo.png" alt="Tudu - Aplicativo de tarefas">
                    <p>Leve sempre no seu bolso.</p>
                  </div>
                </div>
              </div>  
              
              <div class="carousel-active mt-5">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
              </div>
            
        </div>
        
    </div>
    
</div>

<div class="card-footer">
  <span class="material-icons" type="button" data-card-widget="collapse" data-toggle="tooltip"
  routerLink="/login">
    arrow_upward
  </span>
</div>