<div class="container">
    <section class="content">
        <div class="error-page">
          <h2 class="headline text-warning mt-5"> 404</h2>
  
          <div class="error-content">
            <h3><span class="material-icons">report_problem</span> Oops! Página não encontrada.</h3>
  
            <p>
              Não foi possível encontrar a página que você estava procurando.
              Enquanto isso, você pode <a routerLink="/boas-vindas">retornar a página inicial</a>
            </p>
          </div>
        </div>
      </section>
</div>
